.section-services {
    background-color: #EEEEEE;
    padding-top: 30px;
}

.service-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;

    &__image {
        margin-right: 20px;
        
        @media @screen-gt-s {
            margin-right: 10px;
        }
    }

    &__text {
        max-width: 160px;
    }
}